@charset "UTF-8";
@import "./normolize";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 40px 0px;
    .grid-container{
        width: 100%;
        min-height: 100vh;
        padding: 20px;
        background-color: pink;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 150px 600px 150px;
        justify-content: center;
        grid-template-areas: 
        "header header"
        "menu main"
        "footer footer"
        ;
        .grid-item-1{
            background-color: rgb(154, 238, 234);
            color: white;
            text-align: center;
            padding: 15px;
            margin-bottom: 40px;
            grid-area: header;
        }
        
        .grid-item-2{
            padding: 15px;
            background-color: rgb(53, 170, 141);
            grid-area: menu;
            margin-right: 40px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .grid-item-3{
            justify-content: space-between;
            padding: 15px;
            background-color: rgb(53, 170, 141);
            grid-area: main;
            .card__wrap{
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                .card{
                    width: 32%;
                    height: 30%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(177, 177, 177);
                }
            }
        }
        .grid-item-4{
            margin-top: 40px;
            grid-area: footer;
            background-color: rgb(154, 238, 234);
            padding: 15px;
            color: white;
            text-align: center;
        }
    }
}




